{% extends 'principal/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pag_principal/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-4" style="color:#0E2EB0;">Historias Clínica Por Paciente</h2>

    <div class="page-content-wrapper d-flex justify-content-center">
        <div class="container text-center">
            <div class="center-buttons d-flex justify-content-center">
                <form method="POST" >
                    {% csrf_token %}
                    <label for="numero_identidad">Numero de identidad del Paciente:</label>
                    <input type="text" name="numero_identidad" id="numero_identidad" required>
                    <button class="button-blue" type="submit">Buscar</button>
                </form>
            </div>
            <br>
            <div style="text-align:center;">
                <button type="button" class="btn btn-primary waves-effect waves-light"
                        onClick=" window.location.href='/interfaz/usuarios' ">
                    Back
                </button>
            </div>
            <br>
        </div>
    </div>

    {% if historiasClinicas %}
    <div class="row justify-content-center mt-4">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card border-primary shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" style="color:#0E2EB0; font-weight: bold;">{{ historiasClinicas.nombre_paciente }}</h5>
                    <p class="card-text"><strong>Edad:</strong> {{ historia.edad }}</p>
                    <p class="card-text"><strong>Identificación:</strong> {{ historia.identificacion }}</p>
                    <p class="card-text"><strong>Procedencia:</strong> {{ historia.procedencia }}</p>
                    <p class="card-text"><strong>Ocupación:</strong> {{ historia.ocupacion }}</p>
                    <p class="card-text"><strong>Acompañante:</strong> {{ historia.acompanante }}</p>
                    <p class="card-text"><strong>Motivo de consulta:</strong> {{ historia.motivo_consulta }}</p>
                    <p class="card-text"><strong>Enfermedad actual:</strong> {{ historia.enfermedad_actual }}</p>
                    <p class="card-text"><strong>Antecedentes Patologicos:</strong> {{ historia.antecedentes_patologicos }}</p>
                    <p class="card-text"><strong>Antecedentes Farmacologicos:</strong> {{ historia.antecedentes_farmacologicos }}</p>
                    <p class="card-text"><strong>Antecedentes Alergicos:</strong> {{ historia.antecedentes_alergicos }}</p>
                    <p class="card-text"><strong>Plan de Manejo:</strong> {{ historia.plan_de_manejo }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
