{% extends 'principal/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pag_principal/style.css' %}">
{% endblock %}
{% block content %}

    <div style=" display: flex; align-items: center; justify-content: center; gap: 20px;" class="login-box auth0-box before">
        <a href="/interfaz/usuarios/historiasClinicas" class="button-link">
            <button class="button-blue">Historias Clinicas</button>
        </a>
        <a href="/interfaz/usuarios/HC_paciente" class="button-link">
            <button class="button-blue">Buscar por paciente</button>
        </a>
    </div>
    <br>
    <div style="text-align:center;">
        <button type="button" class="btn btn-primary waves-effect waves-light"
                onClick=" window.location.href='/interfaz/usuarios' ">
            Back
        </button>
    </div>



{% endblock %}