{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/analizadorEEG/inicio.css' %}">
{% endblock %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Elegir resultado </h4>
            <!--- 
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/measurementcreate' " style="text-align:center;">+
                </button>
            </div>
            --->
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Ver Resultado</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for archivo in lista_archivos %}
                        <tr>
                            <td>{{ archivo.id }}</td>
                            <td>{{ archivo.nombre }}</td>
                            <td>{{ archivo.fecha }}</td>
                            <td> {{archivo.resultado_analisis}}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/eventos/EEG' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}